body {
margin: 0;
padding: 0;
background: black;
color: white;
font-family: "Courier New", monospace;
overflow: hidden;
}

/* Center container */
.container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
width: 90%;
}

/* Typing text */
#typewriter {
font-size: 1.4rem;
line-height: 1.8rem;
text-shadow: 0 0 8px rgba(255,255,255,0.8);
}

/* Blinking cursor */
.cursor {
display: inline-block;
font-size: 1.4rem;
animation: blink 0.7s infinite;
}

@keyframes blink {
0% { opacity: 1; }
50% { opacity: 0; }
100% { opacity: 1; }
}

/* Star background layers */
.stars, .stars2, .stars3 {
position: absolute;
width: 100%;
height: 100%;
background: transparent url('https://raw.githubusercontent.com/sojijr/valentine-website/main/stars.png') repeat;
animation: moveStars 60s linear infinite;
}

.stars2 {
animation-duration: 120s;
opacity: 0.6;
}

.stars3 {
animation-duration: 180s;
opacity: 0.3;
}

@keyframes moveStars {
from { background-position: 0 0; }
to { background-position: -10000px 5000px; }
}
