body {
margin: 0;
padding: 0;
background: black;
overflow: hidden;
font-family: "Georgia", serif;
color: white;
}

/* Starfield background */
.starfield {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: url('https://i.imgur.com/9aKQK5v.png');
background-size: cover;
z-index: -1;
animation: drift 60s linear infinite;
}

@keyframes drift {
from { transform: scale(1); }
to { transform: scale(1.2); }
}

#line {
opacity: 0;
}

#message-container {
position: absolute;
top: 20%;
width: 100%;
text-align: center;
font-size: 1.4rem;
line-height: 2.2rem;
}